#position{
    padding: 0px;
    left: 450px;
    top: 25%;
    height: 350px;
    width: 200px;
}
#font{
            
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-style: normal;
    }

